**/bin
**/obj
.git
.vs
.idea
*.user
*.suo
*.userprefs
*.pdb
*.mdb
Dockerfile
docker-compose*.yml
.env
.env.*
**/.env
**/.env.*
appsettings.Production.json
appsettings.*.local.json
**/secrets.json
*.pem
*.pfx
*.key
